<!-- <h1>New task</h1>

<form id="new-task" name="task">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="field">
    <label for="content"> content:</label>
    <input type="text" name="content" id="content" value="<%= content %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Task" />
  </div>

</form> -->
<form id="new-task" name="task" class="form-horizontal" role="form">
  <div class="form-group">
    <div class="input-group">
      <label class="sr-only" for="title">Title</label>
      <input type="text" class="form-control" name="title" id="title" value="<%= title %>" placeholder="Title">
    </div>
  </div>
  <div class="form-group">
    <label class="sr-only" for="content">content</label>
    <textarea class="form-control" id='content' name="content" rows="3" value="<%= content %>" placeholder="Description"></textarea>
  </div>
  <button type="submit" class="btn btn-default">Add a new task</button>
</form>
